<h1>Deine Favoriten</h1>

{{#if favorites.length}}
  <div class="events-container">
    {{#each favorites}}
      <div class="event-container">
        {{#if image}}
          <img src="{{image}}" alt="{{event_name}}" class="event-image" />
        {{else}}
          <img
            src="{{image}}"
            onerror="this.onerror=null; this.src='/placeholder.png';"
            alt="{{event_name}}"
            class="event-image"
          />
        {{/if}}
        <div class="form-container">
          <form action="/unlike/{{id}}" method="POST">
            <input
              type="image"
              src="/else_event_selected.svg"
              alt="Favorisiert entfernen"
            />
          </form>
        </div>
        <h2>{{event_name}}</h2>
        <p>{{description}}</p>
        <p>Ort: {{place}}</p>
        <p>Datum: {{date}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="center-content">
  <p>Du hast noch keine Favoriten hinzugefügt.</p>
{{/if}}

<div class="button-container">
  <a href="/" class="back-button">Zurück zur Startseite</a>
</div>