<div class="events-container">
  {{#each events}}
    <div class="event-container">
      {{#if image}}
        <img src="{{image}}" alt="{{event_name}}" class="event-image" />
      {{else}}
        <img
          src="{{image}}"
          onerror="this.onerror=null; this.src='/placeholder.png';"
          alt="{{event_name}}"
          class="event-image"
        />
      {{/if}}
      <div class="form-container">
        {{#if this.is_favorite}}
          <form action="/unlike/{{id}}" method="POST">
            <input
              type="image"
              src="/else_event_selected.svg"
              alt="Favorisieren entfernen"
            />
          </form>
        {{else}}
          <form action="/like/{{id}}" method="POST">
            <input type="image" src="/if_no_event.svg" alt="Favorisieren" />
          </form>
        {{/if}}
      </div>
      <h2>{{event_name}}</h2>
      <p>{{description}}</p>
      <p>{{place}}</p>
      <p>{{formatted_date}}</p>
    </div>
  {{/each}}
</div>