<div class="events-container">
  {{#each events}}
    <div class="event-card">
      {{#if image}}
        <img src="{{image}}" alt="{{event_name}}" class="event-image" />
      {{else}}
        <img
          src="/public/placeholder.svg"
          alt="Kein Bild verfügbar"
          class="event-image"
        />
      {{/if}}
      <div class="form-container">
        <form action="/like/{{id}}" method="POST">
          <input type="image" src="/if_no_event.svg" />
        </form>
      </div>
      <h2>{{event_name}}</h2>
      <p>{{description}}</p>
      <p>Ort: {{place}}</p>
      <p>Datum: {{date}}</p>
    </div>
  {{/each}}
</div>